html{
    overflow-x: hidden;
    scroll-behavior: smooth;

}

html,body{
    font-family: 'Architects Daughter', cursive;
}

.navbar {
    background: #fff !important;
}

.nav-link{
    font-size: 1.2rem;
}

.jumbotron {
    height: 50rem;
    background-image: linear-gradient(to left bottom,
     rgba(240, 247, 235, 0.5),
      rgb(255, 199, 44, 0.5)), 
      url(../images/kelly-sikkema-M98NRBuzbpc-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.container-jumbotron{
    text-align: center;
    margin-top: 10rem;
}

.display-4{
    font-size: 8rem;
    color: #fff;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.lead{
    font-size: 5rem;
    color: #fff;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.arrow-animation{

    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


.container-arrow{
    text-align: center;
    transform: translate(0%,-286%);
}

.fa-arrow-down{
    color: #fff;
    font-size: 5rem;
    cursor: pointer;

    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.container-about{
    height: 35rem;
    text-align: center;
}

.owner-image{
    height: 30rem;
    box-shadow: -20px -20px  tomato;
}

.text-owner{
    margin-top: 9rem;
    transform: translateX(-9%);
}

.text-owner{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.text-owner:hover{
    text-decoration: none;
}

/*Skills section*/


.container-skills{
    height: 40rem;
    background-image: linear-gradient(to left bottom,
    rgba(240, 247, 235, 0.5),
     rgb(255, 199, 44, 0.5)), 
     url(../images/sharon-mccutcheon-rItGZ4vquWk-unsplash.jpg);
   background-size: cover;
   background-position: top;
}

.skills-header{
    text-align: center;
    margin-top: 5rem;
}

.skills-header-text{
    color: #fff;
    font-size: 4rem;
}

.card{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0);
    transition: transform 0.3s;
    margin-top: 5rem;
    margin-left: 0.25rem;
    width: 17rem;
}

.fa-money-check-alt{
    font-size: 2rem;
    background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2.5rem;
}

.card:hover{
    transform: translateY(-1.5rem) scale(1.03);
}


/*Location section*/



.container-location{
    height: 60rem;
}

.location-header{
    text-align: center;
    margin-top: 5rem;
}

.location-header h1{
    font-size: 4rem;
}

.location-header p{
    font-size: 1.2rem;
}

.hr-location{
    width: 10%;
}

.card-location{
    box-shadow: none;
    margin-top: 5rem;
    text-align: center;    
    padding: 1rem;
    transition: transform 3s;
}

.card-location:hover{
    color: rgb(233, 132, 132);
}

.fa-search-location{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.compass{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.fa-location-arrow{
    font-size: 3rem;
}



/*Reviews section*/






.container-review{
    height: 80rem;
    background-image: linear-gradient(to left bottom,
    rgba(240, 247, 235, 0.5),
     rgb(255, 199, 44, 0.5)), 
     url(../images/docusign-pkhBlvTLyog-unsplash.jpg);
   background-size: cover;
   background-attachment: fixed;
   transform:translatez(0) !important;
-webkit-transform:translatez(0) !important;
}

.review-header{
    text-align: center;
    margin-top: 5rem;
}

.review-header h1{
    font-size: 4rem;
}

.card-review{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    padding: 5rem;
    transform: translateX(49%);
}

.card-margin{
    margin-top: 10rem;
    margin-bottom: 5rem;

}

.story-shape{
    width: 11rem;
    height: 11rem;
    float: left;
    transform: translate(-50px, 10px) !important;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(5deg);
    position: relative;
    overflow: hidden;
}

.story-image{
    height: 105%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
}

.story-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.card-review:hover .story-caption{
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}


.card-review:hover .story-image{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
} 

.story-text h4{
    transform: translate(-5%,-12%);
}

.story-text p{
    transform: translate(-4%, 12%);
    letter-spacing: 3px;
}

/*Contact section*/


.container-contact{
    height: 50rem;
    background-image: linear-gradient(to left bottom,
    rgba(240, 247, 235, 0.5),
     rgb(255, 199, 44, 0.5)), 
     url(../images/headway-5QgIuuBxKwM-unsplash.jpg);
   background-size: cover;
   background-attachment: fixed;
   transform:translatez(0) !important;
-webkit-transform:translatez(0) !important;
}

.contact-quote{
text-align: center;
margin-top: 15rem;
}


.contact-quote h3{
font-size: 3rem;
}

.contact-hr{
border-bottom: 5px solid rgb(250, 1, 1);
width: 10%;
margin-left: 11.5rem;
}

.contact-quote h6{
font-size: 1.2rem;
margin-bottom: 3rem;
}

.contact-quote p{
margin-bottom: 3rem;
color: #000;
font-size: 1.2rem;
}

.fa-check-square {
color: rgb(221, 94, 94);
font-size: 2rem;
}

form{
background-color: rgb(255, 255, 255, 0.5);
padding: 2rem 2rem;
margin-top: 10rem;
}

.btn-style{
padding: 1rem 15rem;
background-color: rgb(255, 49, 49);
text-align: center;
text-decoration: none;
color: #fff;
}

.btn-style:hover{
color: #000;
background-color: rgb(255, 49, 49) !important;
text-decoration: none;

}

/*Footer section    */

.container-footer{
    height: 25rem;
    background-color: rgb(68, 65, 65);
}


.footer-header{
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}

.footer-header h3{
    margin-left: 2rem;
}

.footer-header li{
    margin-bottom: 1rem;
    cursor: pointer;
}

.footer-header li:hover{
    color: rgba(230, 228, 228, 0.795);
}

.footer-hr-1{
    border-bottom: 5px solid rgb(250, 1, 1);
    width: 10%;
    transform: translateX(-60%);
}

.footer-hr-2{
    border-bottom: 5px solid rgb(250, 1, 1);
    width: 10%;
    transform: translateX(-50%);
}

.footer-hr-3{
    border-bottom: 5px solid rgb(250, 1, 1);
    width: 10%;
    transform: translateX(-25%);
}

.footer-header ul li{
    list-style: none;
    color: #fff;
}

/* .contact{
    background-image: linear-gradient(105deg,
    rgba(255, 233, 233, 0.89) 0,
    rgba(231, 227, 227, 0.9) 50%,
    transparent 50%),
     url(../images/headway-5QgIuuBxKwM-unsplash.jpg);
} */




.social-media{
    text-align: center;
    margin-top: 3rem;
}

.fa-twitter{
    color: #fff;
    font-size: 1.5rem;
}

.fa-twitter:hover{
    color: #000;
    transition: all 0.5s ease;
}


.fa-facebook-f{
    color: #fff;
    font-size: 1.5rem;
}

.fa-facebook-f:hover{
    color: #000;
    transition: all 0.5s ease;
}

.fa-linkedin-in{
    color: #fff;
    font-size: 1.5rem;
}

.fa-linkedin-in:hover{
    color: #000;
    transition: all 0.5s ease;
}

.fa-instagram{
    color: #fff;
    font-size: 1.5rem;

}

.fa-instagram:hover{
    color: #000;
    transition: all 0.5s ease;
}

.fa-snapchat-ghost{
    color: #fff;
    font-size: 1.5rem;

}

.fa-snapchat-ghost:hover{
    color: #000;
    transition: all 0.5s ease;
}

.fa-youtube{
    color: #fff;
    font-size: 1.5rem;

}

.fa-youtube:hover{
    color: #000;
    transition: all 0.5s ease;
}



/*Keyframe Animation*/

@keyframes moveInLeft {
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}


@keyframes moveInRight {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0%{
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}


@media (max-width: 17.5em){
    
    body{
        overflow-x: hidden;
    }

    .jumbotron{
        height: 39rem;
    }

    .display-4{
        font-size: 3rem;
    }

    .lead{
        font-size: 3rem;
    }

    .fa-arrow-down{
        font-size: 4rem;
    }

    .text-owner{
        transform: translateX(0%);
    }

    .container-about{
        height: 60rem;
    }

    .container-skills{
        height: 98rem;
    }

    .card-body p{
        margin-left: 0rem;
    }

    .container-location{
        height: 136rem;
    }

    .location-header h1{
        font-size: 2rem;
    }

    .container-review{
        height: 150rem;
    }

    .review-header h1{
        font-size: 3rem;
    }

    .story-shape{
        float: none;
        margin-left: 3.2rem;
    }

    .card-review{
        padding: 3rem;
        transform: translateX(0%);
    }

    .story-text h4 {
        transform: translate(-6%,23%);
    }

    .container-contact{
        height: 120rem;
    }

    .contact-quote{
        margin-top: 4rem;
    }

    form{
        margin-top: 5rem;
    }

    .btn-style{
        padding: 1rem 4rem;
    }

    .container-footer{
        height: 65rem;
    }

    .footer-header{
        margin-left: -2rem;
    }

    .footer-header p{
        margin-left: 3rem;
    }
}
